:root {
  --primary: #8fbc8f;
  --bg: #fff;
  --hitam: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
  /* min-height: 4000px; */
}

/* Navbar */
.navbar {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.9);
  /* border-bottom: 1px solid #513c28; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1rem;
  color: #010101;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/spices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 0) 90%
  );
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 250;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .beli {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.contact {
  padding: 8rem 7% 1.4rem;
  color: #000000;
}

.about h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 39rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 25rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/* Contact section */

.contact h3 {
  margin-bottom: 0;
}

.contact p {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  line-height: 1.6rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--primary);
  /* flex-wrap: wrap; */
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 3rem 2rem;
  text-align: center;
}

.contact .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  /* border: 1px solid #010101; */
  padding-left: 2rem;
}

.contact .row form .input-grup input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
  background:none ;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: #fff;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #eaeaea;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 3rem;
}

.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.sosmed p {
  color: #000000;
  text-align: left;
}

.credit {
  color: #828282;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(1, 1, 1, 0.9);
    width: 20rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding-right: 0;
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* HP */
@media (max-width: 550px) {
  html {
    font-size: 55%;
  }
}
